<div class='component-content'>
    <div class=''>
      <div class='lefthalf'>
        <span class='component-title'>[{{title}}]</span>
      </div>
    </div>
    <table class="table table-sm" *ngIf='product'>
      <tr>
        <td>ID</td>
        <td>{{ product.id }}</td>
      </tr>
      <tr>
        <td>Part Number</td>
        <td>{{ product.partNbr }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ product.name }}</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{{ product.price }}</td>
      </tr>
      <tr>
        <td>Unit</td>
        <td>{{ product.unit }}</td>
      </tr>
      <tr>
        <td>Photo Path</td>
        <td>{{ product.photoPath }}</td>
      </tr>
      <tr>
        <td>Vendor Id</td>
        <td>{{ product.vendor.id }}</td>
      </tr>
      <tr>
        <td>Vendor Name</td>
        <td>{{ product.vendor.name }}</td>
        </tr>
      <tr>
        <td colspan="2">
          <a routerLink='/product/edit/{{product.id}}' class='btn btn-primary' title='Edit' style='margin-right: 5px'>Edit</a>
          <!-- <a *ngIf='loggedInUser.admin || loggedInUser.userName == user.userName' routerLink='/user/edit/{{user.id}}' class='btn btn-primary' title='Edit' style='margin-right: 5px'>Edit</a> -->
          <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
          <!-- <button *ngIf='loggedInUser.admin' (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button> -->
  
        </td>
      </tr>
    </table>
  </div>
  