<div class='component-content'>
  <div>
    <span class='component-title'>{{title}}</span> 
     <!-- <span><a routerLink='/requestline/{{requestlines.id}}'>Back to list</a></span> -->
  </div>
 

  <div class='form-group row'>
    <label class='col-form-label col-sm-2' for="requestlinequantity">Product:</label>
    <input readonly type="text" class="form-control col-sm-6" id="requestlineq" aria-describedby="emailHelp"value="{{this.requestline.product.name}}">
  </div>

<div class='form-group row'>
      <label class='col-form-label col-sm-2' for="requestlinequantity">Quantity:</label>
      <input [(ngModel)]='requestline.quantity' name='Quantity' type="number" class="form-control col-sm-6" id="requestlineq" aria-describedby="emailHelp" placeholder="Quantity">
    </div>

    
      <div class='form-group'>
      <button (click)='edit()' class='btn btn-primary'>Edit</button>

    </div>
  </div>
