<div class='component-content'>
    <div class='lefthalf'>
      <span class='component-title'>{{title}} </span>
      <!-- <span *ngIf='loggedInUser.isAdmin'><a routerLink='/request/create'> -->
      <span><a routerLink='/request/create'>
          <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
      </span>
    </div>
  </div>
  <p *ngIf='!requests'>Loading ...</p>
  <table class="table table-sm" *ngIf='requests'> 
    <tr>
      <th class='table-secondary'></th>

      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('id')"><u>Id</u></a></th>

      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('description')"><u>Description</u></a></th>

      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('deliveryMode')"><u>Delivery Mode</u></a></th>

      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('status')"><u>Status</u></a></th>

      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('total')"><u>Total</u></a></th>

      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('user')"><u>Is Administrator</u></a></th>


      <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>
            </tr> 

    <tr *ngFor='let request of requests | sort:sortCriteria:sortOrder'>
         <td></td>
          <td *ngIf='request.status != "REVIEW"'>{{request.id}}</td>
          <td *ngIf='request.status != "REVIEW"'>{{request.description}}</td>
          <td *ngIf='request.status != "REVIEW"'>{{request.deliveryMode}}</td>
          <td *ngIf='request.status != "REVIEW"'>{{request.status}}</td>
          <td *ngIf='request.status != "REVIEW"'>{{request.total | currency}} </td>
          <td *ngIf='request.status != "REVIEW"'>{{request.user.isAdmin}}</td>
         

     <td *ngIf='request.status != "REVIEW"' class='actions'>
       <a routerLink='/request/detail/{{request.id}}' style='padding-left: 16px' class='actionIcon'><img
          src='assets/details.png' width='20' height='20' title='Detail'></a>

  <!-- <a *ngIf='loggedInUser.admin' routerLink='/product/edit/{{product.id}}' class='actionIcon'><img -->
               
       <a routerLink='/request/edit/{{request.id}}' class='actionIcon'><img
           src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>

     <a routerLink='/requestline/{{request.id}}'><img src='assets/lines.png'  width='20' height='20' title='Edit'></a>
            </td>
            </tr>
          </table>
          
  
  