<div class='component-content'>
  <div>
    <span class='component-title'>{{title}}</span>
    <span><a routerLink='/request/review'>   Back to list</a></span> 
  </div>

<table class='table table-sm'>
        <tr>
            <th>ID:</th>
            <th>Description:</th>
            <th>Status:</th>
            <th>Total:</th>
        </tr>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total | currency}}</td>
        </tr>
</table>

<table>
      <tr>
        <th>ID:</th>
        <th>Request ID:</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
      </tr>
         
  <tr *ngFor='let requestline of requestlines'>
      <td *ngIf='requestline.request.id == request.id'>{{requestline.id}}</td>
      <td *ngIf='requestline.request && requestline.request.id == request.id'>{{requestline.request.id}}</td>
      <td *ngIf='requestline.product && requestline.request.id == request.id'>{{requestline.product.name}}</td>
      <td *ngIf='requestline.quantity && requestline.request.id == request.id'>{{requestline.quantity}}</td>
      <td *ngIf='requestline.product && requestline.request.id == request.id'>{{requestline.product.price | currency}}</td>
      <td *ngIf='requestline.product && requestline.request.id == request.id'>{{requestline.product.price * requestline.quantity | currency}}</td>   
    </tr>
</table>


    <div>
 <br> <button (click)='Approve()' class='btn btn-primary'>Approve</button><br><br>
      <p>Rejection reason is required upon rejection.</p>
      <label class='col-form-label col-sm-2' for="description">Rejection Reason:</label>
    <input name='rejectionreason' type="text" class="form-control col-sm-6" 
      id="rejectionreason" aria-describedby="rejectionreasonHelp" placeholder="Rejection reason">
 
    <br>
   
      <button (click)="Reject()" class="btn btn-primary">Reject</button>
    </div>

  </div>




